*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
}

#nav{

    display: flex;
    justify-content: space-between;
    align-items: center;


    height: 100px;
    width: 100%;

    padding: 40px 60px;
}

#nav-part-1{
    display: flex;
    justify-content: space-between;
    width: 45%;
}

#nav-part-2{
    display: flex;
    justify-content: space-between;
    width: 35%;
}


#content{
    padding: 40px 60px;
    margin-top: 60px;

}

#content h3{
    font-size: 40px;
    font-weight: 600;
}

#content p{
    margin-top: 10px;
    font-size: 180px;
    line-height: 170px;
    font-weight: 500;
    letter-spacing: -9px;
    word-spacing: 12px;

}

#case{
    padding: 40px 60px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#case h4{
    font-size: 28px;
    font-weight: 500x;

}
#case h5{
    font-size: 28px;
    font-weight: 500x;

}

#right{
    display: flex;
    align-items: center;
    gap: 40px;
}

#line{
    height: 2px;
    width: 100px;
    background-color: #000;
}

#projects{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 40px 60px;
    gap: 90px;
}

.element{
    width: 50%;
}

.element-img{
    width: 100%;
    height: 750px;
    background-color: rgb(170, 209, 223);

    border-radius: 30px;
}
#img1{
    background-image: url("https://pagedone.io/asset/uploads/1707480017.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#img2{
    background-image: url("https://play-lh.googleusercontent.com/JcGFp9UmGh3qs0MNbrzOwTrAG3MEnzkcVkal6oOO1Oyay0jSCu5IVl2d6iNJmMMmXek=w2560-h1440-rw");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;

    margin: 0px 10px;
}

.btn-left h2{
    font-size: 32px;
    font-weight: 500;
}

.btn-right i{
    border: 1px solid gray;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 20px;
}

.btn-right i:hover{
    background-color: #000;
    color: wheat;
}